a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.border_radius{
    border-radius:30px;
    border: solid 2px black;
    box-shadow: 1px 1px 1px #ccc;
}
.button_header{
    margin: 10px;
}
.size_animate:hover{
    transition: all 0.5s ease;
    transform: scale(1.1,1.1);
}
.size_animate{
    transition: all 0.5s ease;
    transform: scale(1,1);
}
p{
    margin: 0px;
    padding: 0px;
}
.icon_people{
   margin: 0px 10px;
   transition: all 0.3s;
}
.icon_people:hover{
    transition: all 0.3s;
    font-size: 1.65em !important;
    cursor: pointer;
 }
.dropdown_title_people{
font-size: 15px;
font-weight: bold;
}
.dropdown_sub_title_people{
    font-size: 11px;
}
.images_dropdown_where{
    flex-wrap: wrap;
}
@media (max-width: 800px)
{
    .images_dropdown_where{
        flex-wrap: nowrap;
    }
}
.dropdown_title_config{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.image_content{
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
}
.carousel-control-next{
    right: 20px;
    height:200px;

}
.carousel-control-prev{
    left: 20px;
    height:200px;
}
#dropdown-menu-when{
    width: 1000px;
    height:400px;
}
.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.image_immobile_header{
    max-width: 100%;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 10px;

}   
.content_immobile_header{
    overflow: hidden;
    max-height: 600px;
    display:flex;
    justify-content:center;
}
.name_immobile{
 
}
.attribute_immobile{
    margin: 0px 10px;
}
.option_reserve{
    border: 1px solid #b0b0b0;
    box-shadow: 1px 1px 1px #ccc;
    height:50px;
    display:flex;
    align-items:center;
}
.content_bed{
    height:120px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.title_check{
   font-size:14px; 
}
.image_people_immobile{
    width:50px;
    height:50px;
    border-radius: 50px;
    overflow:hidden;
}
.content_rigth_immbile{
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border:1px solid #b0b0b0;
    min-height:300px;
    max-height: 400px;
}
.btn_reserve{
    width:100%;
    border-radius:7px;
}
.border-radius-top-left{border-radius:5px 0px 0px 0px;}
.border-radius-top-rigth{border-radius:0px 5px 0px 0px;}
.border-radius-bottom{border-radius:0px 0px 5px 5px;}